/* Move down content because we have a fixed navbar that is 50px tall */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family:'Nanum Gothic','NanumGothic','나눔 고딕','나눔고딕';
}
